<style>
  .fixed-image {
    display: block;
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
  }
</style>
<input name="{{ name }}" type="hidden" value="{{ value }}">
<ul id="sortable">
  {{ list }}
</ul>